.users-wrapper {
  padding: 2rem;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
}

.users-table th,
.users-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.users-table th {
  background-color: #333;
  color: #fff;
}
